<section class="discussion">
  <div class="container discussion-container">
    <div class="discussion-search row">
      <form>
        <input class="discussion-search-input" placeholder="Search discussion threads..."
        type="search" name="search">
        <input class="discussion-search-submit" type="submit" />
        <span class="discussion-search-icon"></span>
      </form>
    </div>
    <div class="row">
      <div class="discussion-item-container col-xs-12 col-md-4">
        <div tabindex="4" class="discussion-item row">
          <h4 class="discussion-item-question">
            What is the best way to start a Lava Mae?
          </h4>
          <p class="discussion-item-description">
            I was wondering if there are any tips on how to start a Lava Mae in your area.
            What kind of people do I need to talk to and where should I start?
          </p>
        </div>
        <div tabindex="4" class="discussion-item row">
          <h4 class="discussion-item-question">
            Are there any Lava Maes in Africa?
          </h4>
          <p class="discussion-item-description">
            I've seen a couple of points on the map in Africa, but I'm not sure if
            these projects are still active. Does anyone know what the status of projects are there?
          </p>
        </div>
        <div tabindex="4" class="discussion-item row">
          <h4 class="discussion-item-question">
            What is the best way to start a Lava Mae?
          </h4>
          <p class="discussion-item-description">
            I was wondering if there are any tips on how to start a Lava Mae in your area.
            What kind of people do I need to talk to and where should I start?
          </p>
        </div>
        <div tabindex="4" class="discussion-item row">
          <h4 class="discussion-item-question">
            Are there any Lava Maes in Africa?
          </h4>
          <p class="discussion-item-description">
            I've seen a couple of points on the map in Africa, but I'm not sure if
            these projects are still active. Does anyone know what the status of projects are there?
          </p>
        </div>
      </div>
      <div class="question-selected-container col-xs-12 col-md-8">
        <div class="question-container row">
          <h2 class="question-title">
            What is the best way to start a Lava Mae?
          </h2>
          <p class="question-description">
            I was wondering if there are any tips on how to start a Lava Mae in your area.
            What kind of people do I need to talk to and where should I start?
          </p>
        </div>
        <div class="user-action row">
          <div class="user-container col-xs-12 col-md-5">
            <div class="user-picture">
              <img src="/assets/grace.jpg" />
            </div>
            <a href=""><div class="user-name">Grace Noh</div></a>
          </div>
        </div>
        <div class="answer-container row">

        </div>
      </div>
    </div>
  </div>
</section>
