<section class="map">
  <div class="map-container">
    <form class="map-search">
      <input class="map-search-input" placeholder="Search map..." type="search" name="search" />
    </form>
    <button class="btn btn-blue">Join the Movement</button>
    <div class="tooltip">
      <%= image_tag("water-drop.png", :class => "map-pin") %>
      <div class="tooltip-text">
        <h5>Diving in Headfirst</h5>
        <h4>Belem, Brazil</h4>
        <div class="story-preview">
          <%= image_tag("story_thumb.jpg", :class => "story-thumb") %>
          <span class="story-preview-text">
            The streets were crowded with people of all nationalities - and all income levels.
            There are those who survive this world without a home, and are in desperate need of help…
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
