<section class="discussion">
    <div class="discussion-header row">
      <div class="discussion-tag-container pull-left">
        <i class="fa fa-tags fa-lg"></i>
        <button class="discussion-tag">Starting up</button>
        <button class="discussion-tag">Funding</button>
        <button class="discussion-tag">Volunteering</button>
        <button class="discussion-tag">Partnering</button>
        <button class="discussion-tag">Learn More</button>
      </div>
      <% if current_user %>
        <button class="discussion-favorite">
          <i class="fa fa-star-o fa-lg"></i>
          Favorites
        </button>
        <%= button_to "Create Discussion", new_discussion_path, method: :get, class: 'btn btn-blue pull-right' %>
      <% end %>
    </div>
  <div class="container-lg">
    <div class="discussion-container row">
      <div class="discussion-item-container col-xs-12 col-md-4">
        <% @discussions.each do |discussion| %>
          <%= render 'discussions/shortened', {discussion: discussion} %>
        <% end %>
      </div>
      <% if @discussion %>
          <%= render @discussion %>
      <% end %>
      </div>
    </div>
  </div>
</section>


<script>
$('.favorite-discussion').click(function(){
  var data_id = $(this).data("id");
  var fav = $(this).data("fav");
  var star_id = "star" + data_id
  $(this).data('fav', !fav); 
  if (!fav) {
    document.getElementById(star_id).className = "fa fa-star pull-right"
    $.ajax({url: '/favorite_discussion/' + data_id, type: 'POST' });
  }
  else {
    document.getElementById(star_id).className = "fa fa-star-o pull-right"
    $.ajax({url: '/favorite_discussion/' + data_id, type: 'DELETE' });
  }
});

</script>
