<div class="discussion-container">
  <%= react_component "DiscussionIndex", { discussion: @discussion, discussions: @discussions, current_user: current_user, favorite_discussions: current_user.favorite_discussions } %>
  <% if @discussion %>
      <%= render @discussion %>
  <% end %>
</div>

<script>
// $('.favorite-discussion').click(function(e){
//   var data_id = $(this).data("id");
//   var fav = $(this).data("fav");
//   var star_id = "star" + data_id
//   $(this).data('fav', !fav);
//   if (!fav) {
//     document.getElementById(star_id).className = "fa fa-star pull-right"
//     $.ajax({url: '/favorite_discussion/' + data_id, type: 'POST' });
//   }
//   else {
//     document.getElementById(star_id).className = "fa fa-star-o pull-right"
//     $.ajax({url: '/favorite_discussion/' + data_id, type: 'DELETE' });
//   }
// });

function discussionsMenu() {
  var x = document.getElementById("discussions");
  var y = document.getElementById("tags");
  if (x.className === "discussion-item-container" || y.className === "discussion-tag-container") {
      x.className += " responsive";
      y.className += " responsive";
  } else {
      x.className = "discussion-item-container";
      y.className = "discussion-tag-container";
  }
}
</script>
