.about {
  min-height: 100vh;
  padding-top: $nav-height;
  background: linear-gradient(150deg, $black-80 0%, $black-60 40%, $black-40 80%),
  image_url("about-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .about-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-title, .about-body {
    color: white;
    padding-top: 5px;
  }

  .about-body {
    padding-bottom: 10px;
  }
}
