.admin-container {
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
}

.admin-section {
	min-height: 100vh;
}

.admin-header, .admin-title {
	width: 100%;
	padding-bottom: 15px;
}

.user-control {
	flex-grow: 1;
  	padding-bottom: 30px;
}
