.discussion {
  max-height: 100vh;
  overflow: hidden;
}

.discussion-header {
  display: flex;
  position: fixed;
  top: 80px;
  align-items: center;
  color: $blue-light;
  background-color: $blue-light-20;
  padding: 10px 15px;
  min-height: 61px;
  width: 100vw;
  box-sizing: border-box;
}

.form-group {
  display: inline;
}

.discussion-search {
  flex: 1;
  padding-right: 20px;

  .discussion-search-input {
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    transition: 300ms;
  }

  .discussion-search-submit {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
}

.discussion-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 141px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.discussion-item-container {
  height: 100%;
  overflow-y: scroll;
  width: 35vw;

  .discussion-item-description {
    font-size: 12px;
  }

  .discussion-item-date {
    float: right;
    font-size: 14px;
  }
}

.discussion-selected-container {
  flex: 1;
  padding: 20px 40px;
  background: white;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.discussion-tag-container {
  flex: 1;
  display: inline-block;
  color: $blue-light;
}

.discussion-tag {
  font-family: $font-stack;
  cursor: pointer;
  border: 1px solid $blue-light;
  border-radius: 2px;
  color: $blue-light;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  outline: none;
  padding: 7px 15px 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  transition: 500ms;
  text-decoration: none;
  width: auto;
  background: transparent;
  margin-left: 5px;

  &:hover {
    background: $blue-light;
    color: white;
  }

  &.checked {
    background: $blue-light;
    color: white;
  }

  &.discussion-tag-small {
    font-size: 9px;
    padding: 5px 10px 3px 10px;
    background: $blue-light;
    color: white;
    margin-left: 0px;
    margin-right: 5px;
  }

  &.discussion-tag-add {
    font-size: 20px;
    padding: 2px 5px 5px 2px;
  }
}

.hidden {
  display: none;
}

.discussion-favorite {
  font-family: $font-stack;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
  color: $blue-light;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 500ms;
  text-decoration: none;
  width: auto;
  background: transparent;
  margin-right: 10px;

  &.selected {
    background: $blue-light-20;
  }

  &:hover, &:active, &:focus {
    background: $blue-light-20;
  }

  &:active, &:focus {
    font-weight: 700;
  }
}

.discussions-menu {
  padding: 10px;
  display: none;
  cursor: pointer;
  float: left;
  border-radius: 2px;
}

@media screen and (max-width:630px) {
  .discussion-tag-container {
    position: absolute;
    z-index: 3;
    left: -1000px;
    top: 0;
    overflow: auto;
    width: 100vw;
    display: inline-block;
    white-space: nowrap;
    transition: 500ms;
    padding: 18px 15px;
    background: white;
  }

  .discussion-header {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 4;
  }

  .discussion-tag {
    padding: 5px 10px;
    font-size: 8px;
  }

  .discussion-item-container {
    position: absolute;
    z-index: 3;
    left: -1000px;
    top: 141px;
    width: 100vw;
    display: block;
    transition: 500ms;
    height: 100vh;
  }

  .tag-menu,.discussions-menu {
    display: inherit;
    float: right;
  }

  .favorites-text {
    display: none;
  }

  .discussion-favorite {
    padding: 10px;
    margin-right: auto;

    &:hover, &:active, &:focus {
      background: transparent;
    }
  }

  .create-discussion {
    font-size: 10px;
    padding: 6px 12px;
  }
}

@media screen and (max-width:630px) {
  .discussion-tag-container {
    &.responsive {
      left: 0;
    }
  }

  .discussion-item-container {
    &.responsive {
      left: 0;
    }
  }
}
