.landing, .site-guide {
  background: linear-gradient(150deg, $black-80 0%, $black-60 40%, $black-40 80%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .landing-text {
    max-width: 500px;
  }

  .landing-title, .landing-body {
    color: white;
    padding-top: 5px;
  }

  .landing-body {
    padding-bottom: 10px;
  }
}

.landing {
  position: absolute;
  width: 100%;
  z-index: 3;

  .landing-text {
    text-align: center;
  }
}

.map-home {
  top: 0 !important;
  height: 95vh;

  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}

.filler {
  height: 95vh;
  background: $bg-color;
}

.site-guide {
  background: $bg-color;
  flex-wrap: wrap;
}

.thirds-container {
  align-items: flex-start;
  display: flex;
}

.third {
  max-width: 350px;
  min-height: 354px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  transition: 300ms;
  cursor: pointer;
  padding: 20px 20px;

  p {
    color: $blue-light;
  }

  &:hover {
    background: $blue-light-10;

    img {
      box-shadow: 0 2px 8px $black-20;
    }
  }

  .third-hero {
    max-width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;;
  }
}

@media screen and (max-width:630px) {
  .third:not(:last-child){
    padding-bottom: 20px;
  }
}
