.landing, .site-guide {
  background: linear-gradient(150deg, $black-80 0%, $black-60 40%, $black-40 80%),
  image_url("map-background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  .landing-text {
    max-width: 630px;
  }

  .landing-title, .landing-body {
    color: white;
    padding-top: 5px;
  }

  .landing-body {
    padding-bottom: 10px;
  }
}

.landing {
  position: absolute;
  width: 100%;
  z-index: 3;

  .landing-text {
    text-align: center;
  }
}

.map-home {
  top: 0 !important;
  height: 90vh;

  .mapboxgl-ctrl-geocoder {
    display: none;
  }
}

.filler {
  height: 90vh;
  background: $bg-color;
}

.site-guide {
  background: $bg-color;
  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
}

.thirds-container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;

  h1 {
    font-size: 18px;
    color: $blue-light;
    padding: 0;
  }
}

.third {
  max-width: 350px;
  min-height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  transition: 300ms;
  padding: 20px 20px;

  p {
    color: $black;
    padding-bottom: 10px;
  }

  .third-hero {
    max-width: 100px;
  }
}

@media screen and (max-width:630px) {
  .third:not(:last-child){
    padding-bottom: 20px;
  }

  .landing-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-guide {
    height: auto;
  }

  .thirds-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 15px;
  }

  .third {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}
