.modules-section {
  min-height: 100vh;
}

.modules-container {
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;

  .module-item-container {
    width: 50%;
    padding-bottom: 15px;
  }

  h1 {
    width: 100%;
  }

  h2 {
    flex: 1;
  }
}

.module-item-container:last-child {
  padding-bottom: 0;
}

.module-item-container:nth-child(odd) {
  padding-right: 15px;
}

.modules-header, .modules {
  width: 100%;
}

.modules-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-module {
  padding-right: 15px;
}

.modules {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 15px 0;
  margin: 0;
}

@media screen and (max-width:630px) {
  .modules-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .module-item-container {
      width: 100%;
    }

    .modules-header {
      display: block;
      
      h2 {
        margin-bottom: 15px;
      }
    }
  }
  .module-item-container:nth-child(odd) {
    padding-right: 0;
  }
}
