.user-registration {
  padding-top: 80px;
}

.vertical-line {
  border-left: solid $blue-dark;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-profile {
  padding: 22px;
  padding-top: 100px;
  height: 800px;
  background: $blue-light-20;
}

.user-info {
  background: white;
  height: 360px;
  width: 340px;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 30px;
}

.user-flex {
  display: flex;
}

.user-profile-fields {
  color: $blue-dark;
  font-weight: bold;
  width: 120px;
  padding: 20px;
  text-align: right;
}

.user-profile-answers {
  padding-left: 20px;
  text-align: left;
}

.profile-picture {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding-left: 90px;

  img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
    margin: auto;
  }
}

.profile-section-titles {
  padding-left: 30px;
  color: $blue-dark;
  font-weight: bold;
}

.favorite-discussions-container {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  overflow-y: scroll;
  width: 50vw;

  .discussion-item-description {
    font-size: 12px;
  }

  .discussion-item-date {
    float: right;
    font-size: 14px;
  }
}

.profile-edit-button {
  padding-right: 10px;
}

