.user-registration {
  padding-top: 80px;
}

.user-profile {
  padding-top: 100px;
  background: $blue-light-20;
}

.user-info {
  background: white;
  color: $blue-dark;
  height: 120px;
  width: 270px;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 15px;
}
