<div class="about">
  <div class="about-text">
    <h3 class="about-title">Who are we?</h3>
    <h4 class="about-body">
      Lava Mae is a San Francisco-based nonprofit bringing humanity, innovation,
      and collaboration to the way services are provided to those experiencing
      homelessness.
    </h4>
    <a href="http://lavamae.org/" target="_blank">
      <button class="btn btn-blue">Find Out More</button>
    </a>
  </div>
</div>
