<div class="about-page">
  <div class="about">
    <h3 class="about-title">About Lava Mae</h3>
    <h4 class="about-body">
      Lava Mae is a San Francisco-based nonprofit bringing humanity, innovation,
      and collaboration to the way services are provided to those experiencing
      homelessness. We are a San Francisco-based nonprofit that began in 2014 by
      converting retired transportation buses into showers and toilets on wheels
      to deliver hygiene and restore dignity. Today our mobile hygiene operation
      is running in San Francisco and Los Angeles, while we continue to test new
      programs in direct services and the arts.
    </h4>
  </div>
  <h3 class="about-title">Our work is rooted in three beliefs:</h3>
  <div class="beliefs">
    <div class="belief-item">Opportunity unfolds when people are treated with dignity.
      <div class="belief-number">1</div>
    </div>
    <div class="belief-item">When it comes to dignity, society has different standards for those with
    resources vs those who lack them.
      <div class="belief-number">2</div>
    </div>
    <div class="belief-item">Delivering radical hospitality – an unexpected level of care – to people
      moving through homelessness restores dignity, rekindles optimism, and fuels a sense of opportunity.
      <div class="belief-number">3</div>
    </div>
  </div>
  <h4 class="about-body">Ultimately, our vision with  Lava Mae Reach  is not only to open source
    our mobile hygiene model but to seed the concept of Radical Hospitality in
    all the communities we touch.</h4><br />
  <a href="http://lavamae.org/" target="_blank">
    <button class="btn btn-blue">Learn More About Lava Mae</button>
  </a>
</div>
