<section class="landing">
  <div class="container landing-text-container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1 class="landing-title">
          Lava Mae Reach
        </h1>
        <h4 class="landing-body">
          Lava Mae Reach is a tool for anyone to learn more about how Lava Mae works,
          how it's revolutionizing access to basic sanitation, and even how to start Lava Mae
          projects in untapped areas.
        </h4>
      </div>
    </div>
    <a href="http://lavamae.org/" target="_blank">
      <button class="button">What's Lava Mae?</button>
    </a>
  </div>
</section>

<section class="preview discussion-preview">
  <div class="container discussion-container">
    <div class="row">
      <div class="col-xs-12 col-md-7 preview-text">
        <h2 class="preview-title">
          Discussion Threads
        </h2>
        <h4 class="preview-body">
          Connect with others around the globe through discussion threads. Ask
          questions, answer questions, and meet others.
        </h4>
        <a href="/">
          <button class="button">Join the Conversation</button>
        </a>
      </div>
    </div>
  </div>
</section>
