<section class="landing">
  <div class="container landing-text-container">
    <div class="row">
      <h1 class="landing-title col-xs-12 col-md-8">
        Taking Radical Hospitality to the Streets
      </h1>
      <h2 class="landing-text col-xs-12 col-md-8">
        Lava Mae is a San Francisco-based nonprofit bringing humanity, innovation,
        and collaboration to the way services are provided to those experiencing homelessness.
      </h2>
    </div>
  </div>
</section>
