<section class="landing">
  <div class="container landing-text-container">
    <div class="row">
      <h1 class="landing-title col-xs-12 col-md-8">
        Lava Mae Reach
      </h1>
      <h2 class="landing-text col-xs-12 col-md-8">
        Lava Mae Reach is a tool for anyone to learn more about how Lava Mae works,
        how it's revolutionizing access to basic sanitation, and even how to start Lava Mae
        projects in untapped areas.
      </h2>
    </div>
    <a href="http://lavamae.org/">
      <button class="button">What's Lava Mae?</button>
    </a>
  </div>
</section>
