<div class="response-container row">
  <div class="response-text pull-left wordwrap">
  	<%= response.content %>
  </div>
  <div class="user-container pull-right">
    <div class="name-date">
      <a href=""><div class="user-name">Grace Noh</div></a>
      <div class="date"><%= time_ago_in_words(response.created_at) %> ago</div>
    </div>
    <div class="user-picture">
      <a href=""><img src="/assets/grace.jpg" /></a>
    </div>
  </div>
</div>

<% if current_user and current_user == response.user %>
  <%= button_to 'Edit', edit_discussion_response_path(response.discussion_id, response),
  class: 'btn btn-action btn-sm pull-left' %>
  <%= button_to 'Delete', discussion_response_path(response.discussion_id, response),
  method: :delete, class: 'btn btn-action btn-sm pull-left' %>
<% end %>
