<h1>Editing response test</h1>

<%= form_for :response, url: discussion_response_path(@discussion, @response), method: :put do |f| %>
	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>