<p> This is a html thingy </p>
<br>
<br>
<br>
<br>
<br>
<br>
<% @responses.each do |r| %>
	<div>
		<%= link_to r.content, response_path(r) %>
	</div>
<% end %>

<%= link_to "Create Response", new_response_path %>
