// Places vendor prefixes before each property: value pair
@mixin prefixer($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

/* Use this for transforms
 * Syntax example:
 *    @include transform(translateY(-50px));
 */
@mixin transform($property: none) {
  @include prefixer(transform, $property);
}

/* Use this for transforms
 * Syntax example:
 *    @include appearance(none);
 */
@mixin appearance($property: none) {
  @include prefixer(appearance, $property);
}

// Clearfix for floats
@mixin clearAfter {
  &:after {
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
  }
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}
