$black                          : #30404D;
$black-80                       : rgba($black, 0.80);
$black-60                       : rgba($black, 0.60);
$black-40                       : rgba($black, 0.40);
$black-20                       : rgba($black, 0.20);
$black-10                       : rgba($black, 0.10);

$white-80                       : rgba(white, 0.80);
$white-60                       : rgba(white, 0.60);
$white-40                       : rgba(white, 0.40);
$white-20                       : rgba(white, 0.20);

$grey                           : #96A6B3;

$blue-light                     : #16ACE6;
$blue-light-80                  : rgba($blue-light, 0.80);
$blue-light-60                  : rgba($blue-light, 0.60);
$blue-light-40                  : rgba($blue-light, 0.40);
$blue-light-20                  : rgba($blue-light, 0.20);

$blue                           : #0C7AFD;
$blue-80                        : rgba($blue, 0.80);
$blue-60                        : rgba($blue, 0.60);
$blue-40                        : rgba($blue, 0.40);
$blue-20                        : rgba($blue, 0.20);

$blue-dark                      : #0093CD;

$font-stack                     : 'Hind', 'Helvetica', sans-serif;

$nav-left-width                 : 60px;
