.btn {
  font-family: $font-stack;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 500ms;

  &:hover {
    box-shadow: 0 2px 8px $black-20;
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    opacity: 0.8;
  }
}

.btn-transparent {
  background: transparent;
  border: 1px solid transparent;
}

.btn-blue {
  background: $blue-light;
  border: 1px solid $blue-light;

  &:hover {
    background: $blue-dark;
    border: 1px solid $blue-dark;
    box-shadow: 0 2px 8px $black-20;
  }
}
