.discussion-item {
  background: $blue-sky;
  cursor: pointer;
  color: $blue-dark;
  height: 120px;
  border: 1px solid transparent;
  border-bottom: 1px solid $blue-light;
  padding: 15px;
  transition: 300ms;

  &:hover {
    background: $blue-light;
    color: white;
  }

  &:focus {
    outline: none;
  }

  .discussion-item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

}

.selected-discussion {
  background: $blue-light;
  color: white;
}
