.module-title {
  color: $blue-dark;
  font-size: 24px;
  /*font-weight: bold;*/
}

.module-description {
  font-size: 12px;
  color: $grey;
}

.user-action {
  padding: 10px;
}

.new-resource-topic {
  padding: 100px;
}
