.module-item {
  border-radius: 2px;
  padding: 24px 24px 10px 24px;
  background-color: white;

  .module-item-description {
    overflow: hidden;
    font-size: 12px;
    color: $black;

    p {
      color: $grey;
    }
  }

  .cover-picture {
    max-width: 60px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;

    img {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

  .module-item-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .module-download {
    cursor: pointer;
    padding: 8px 12px;
    transition: 300ms;
    color: $blue-light;

    span {
      padding-left: 5px;
    }

    &:hover {
      background: $blue-light-20;
    }
  }

}
