.module-item {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 24px;
  transition: 300ms;
  background-color: white;

  &:hover {
    border: 2px solid $blue-light;
    box-shadow: 0px 2px 8px $black-20;
    color: white;
  }

  &:focus {
    border: 2px solid $blue-light;
    box-shadow: 0px 2px 8px $black-20;
    outline: none;
  }

  .module-item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

}
