.nav {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  transition: 300ms;
  z-index: 5;
  color: white;
  min-height: $nav-height;
  background: $blue-light;

  .logo {
    background-image: image_url('lavamae-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 40px;
    width: 28px;
    margin-right: 20px;
  }

  .right-item-container {
    margin-left: auto;
  }

  .nav-item {
    display: inline-block;
  }
}

.profile-selected img {
  box-shadow: 0 0 0 5px $white-40;
}

.display-mobile {
  display: none;
}

//smartphones, iPhone, portrait 480x320 phones
.hamburger {
  margin-left: auto;
  display: none;
  cursor: pointer;
}

@media screen and (max-width:630px) {
  .nav-items-container {
    position: absolute;
    right: -1000px;
    top: $mobile-nav-height;
    text-align: right;
    width: 100vw;
    display: block;
    background: $black-80;
    transition: 500ms;
    height: 100vh;

    .nav-item {
      width: 100vw;
      border-bottom: 1px solid $white-20;

      &:active {
        background: $black-80;
      }
    }
  }

  .hamburger {
    display: inherit;
    float: right;
  }

  .nav-items-container-active {
    right: 0;
  }
}

.blue-nav {
  background: $blue-light;
}

@media screen and (max-width:630px) {
  .nav {
    min-height: $mobile-nav-height;
    z-index: 100;

    .logo {
      height: 30px;
      width: 21px;

    }
  }

  .nav-items-container {
    &.responsive {
      right: 0;
    }

    .nav-item {
      padding: 7px;

      .btn-signup, .btn-login {
        margin-right: 20px;
      }
    }
  }

  .right-item-container {
    margin-left: inherit;
  }

  .display-mobile {
    display: inline-block !important;

    .user-container {
      padding-right: 15px;
    }
  }

  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width:700px) {
  .nav-item {
    display: inline-block;
  }
}
