.nav, .nav-home {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  transition: 300ms;
  z-index: 5;
  color: white;
  min-height: $nav-height;

  .logo {
    background-image: image_url('lavamae-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 40px;
    width: 28px;
    margin-right: 20px;
  }

  .right-item-container {
    margin-left: auto;
  }

  .nav-item {
    display: inline-block;
  }
}

// Overriding global nav blue background
.nav {
  background: $blue-light;
}

.nav-home {
  background: transparent;
}

.profile-selected img {
  box-shadow: 0 0 0 5px $white-40;
}

//smartphones, iPhone, portrait 480x320 phones
.hamburger {
  margin-left: auto;
  padding-right: 10px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width:630px) {
  .nav-items-container {
    position: absolute;
    right: -1000px;
    top: $nav-height;
    text-align: right;
    width: 100vw;
    display: block;
    background: $blue-light-80;
    transition: 500ms;
    height: 100vh;
    z-index: 100;

    .nav-item {
      width: 100vw;
      border-bottom: 1px solid $white-20;
    }
  }

  .hamburger {
    display: inherit;
    float: right;
  }
}

.resources-nav {
  margin-right: 15px;
}

.blue-nav {
  background: $blue-light;
}

@media screen and (max-width:630px) {
  .nav-items-container {
    &.responsive {
      right: 0;
    }

    .nav-item {
      padding: 7px;

      .btn-signup, .btn-login {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (min-width:700px) {
  .nav-item {
    display: inline-block;
  }
}
