.question-title {
  color: $blue-dark;
}

.question-description {
  padding-top: 20px;
  font-size: 14px;
}

.user-container {
  padding: 10px;
  
  .user-picture {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;

    img {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

  .user-name {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
  }
}
