.resources-container {
  max-height: 160px;
  overflow-y: scroll;
  background: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-box-shadow: inset 0 2px 8px $black-20;
  -webkit-box-shadow: inset 0 2px 8px $black-20;
  box-shadow: inset 0 2px 8px $black-20;
}

.resource-item {
  padding: 15px;
  display: flex;
  align-items: center;

  .resource-body {
    flex: 1;
  }

  .resource-title {
    color: $blue-dark;
  }
}

.resource-download {
  cursor: pointer;
  padding: 15px 20px;
  transition: 300ms;
  color: $blue-light;
  display: inline;

  &:hover {
    background: $blue-light-20;
  }
}

.resource-edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 15px 20px;
  transition: 300ms;
  color: $blue-light;
  display: inline;

  &:hover {
    background: $blue-light-20;
  }
}

.resource-delete {
  cursor: pointer;
  padding: 15px 20px;
  transition: 300ms;
  color: $red !important;
  display: inline;

  &:hover {
    background: $red-20;
  }

  .resource-delete {
    cursor: pointer;
    padding: 15px 20px;
    transition: 300ms;
    color: $red !important;

    &:hover {
      background: $red-20;
    }
  }
}

.resource-item:not(:last-child) {
  border-bottom: 1px solid $black-20;
}
