.signup-container {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.signup-row {
  flex: 1;
}

.login-link {
  margin: 10px 0;
  cursor: pointer;
}

.profile-preview {
  max-height: 250px;
  padding: 15px 0;
}

.previewText {
  color: $grey;
  padding: 15px 0;
  font-style: italic;
  font-weight: 500;
}

.fileText {
  cursor: pointer;
  color: $grey;
  padding: 15px 0;
  font-style: italic;
  font-weight: 500;
}